@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Exo 2";
    src: url("/assets/fonts/Exo2-VariableFont_wght.ttf")
        format("truetype-variations");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Exo 2";
    src: url("/assets/fonts/Exo2-Italic-VariableFont_wght.ttf")
        format("truetype-variations");
    font-weight: 100 900;
    font-style: italic;
}

/* Custom styles for Carousel */
.custom-dots {
    bottom: -24px !important;
}

.custom-dots li {
    width: 12px;
    height: 12px;
    margin: 0 8px !important;
}

.custom-dots li button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2) !important;
    opacity: 1;
    transition: all 0.3s;
}

.custom-dots li.slick-active button {
    background: linear-gradient(to right top, #ffd369, #f93a3a) !important;
    opacity: 1;
    transform: scale(1.2);
}
